fastapi==0.116.1
uvicorn[standard]==0.35.0
gunicorn==23.0.0
SQLAlchemy==2.0.41
psycopg[binary]==3.2.9
redis==6.2.0
rq==2.4.1
requests==2.32.4
pydantic-settings==2.10.1
python-multipart==0.0.20
pytest==8.4.1
